


@import "tailwindcss";

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

body {
 
  background: linear-gradient(to right, #1f1f1f, #3b0a45, #5b21b6);
  background-size: 200% 200%;
  animation: gradientShift 8s ease infinite;
  min-height: 100vh;
  margin: 0;
}


@keyframes shine {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.shimmer-text {
  background-size: 200% 200%;
  animation: shine 6s ease-in-out infinite;
}

/* Floating particles */
@keyframes float {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0.6;
  }
  50% {
    transform: translateY(-20px) scale(1.2);
    opacity: 1;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 0.6;
  }
}
.animate-float {
  animation: float linear infinite;
}





@layer utilities {
  .tech-icon {
    width: 28px;
    opacity: 0.25;
    animation: float 5s ease-in-out infinite;
  }

  @media (min-width: 640px) {
    .tech-icon {
      width: 40px;
      opacity: 0.35;
    }
  }

  .social-icon {
    width: 35px;
    height: 35px;
  }

  @media (min-width: 640px) {
    .social-icon {
      width: 45px;
      height: 45px;
    }
  }

  @keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
  }
}








